/*
    Author::Yashvendra Deep Dwivedi
    github::@entschluselt
*/
body{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
/* Navigation Bar */
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    height: 100%;
    background-color: #181818;
    overflow:auto;
    position : fixed;
    font-family: poppin_med;
}
/* Logo */
.navbar img{
    background-color: black;
}
/* this in the navbar container */
.navbar li a{
    text-decoration: none;
    display:block;
    color:antiquewhite;
    padding:2%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-color: rgb(36, 23, 28);
    font-size: 150%;
}
.navbar li a:hover{
    color:rgb(133, 133, 133);
} 
h1{
    display:inline;
}
/* The name thing */
.intro_name 
{
    padding-left: 1%;
    padding-top: 14%;
    font-size: 200%;
    font-family: defaultfont;
    letter-spacing: 200;
    letter-spacing: -5px;
}
/* The yashdeep */
.yashdeep{
    font-weight: bolder;
    color:red;
}
/* this is our container which comprises of the name and futher things  */
#intro,
#about,
#skills,
#project,
#contact
{
    height:100vh;
    width:75%;
    float:right;
}
h1::selection{
    background-color:indianred;
}










/*
    Author::Yashvendra Deep Dwivedi
    github::@entschluselt
*/
