/*
    Author::Yashvendra Deep Dwivedi
    github::@entschluselt
*/
body{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
/* Navigation Bar */
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15vw;
    height: 100vh;
    background-color: #181818;
    overflow:auto;
    position : fixed;
    font-family: poppin_med;
}
/* Logo */
.navbar img{
    background-color: black;
}
/* this in the navbar container */
.navbar li a{
    text-decoration: none;
    display:block;
    color:antiquewhite;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #181818;
    font-size: 1.5vw;
    transition: 0.6s;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight:bold;
    
}
.navbar li a:hover{
    color: black;
    background-color: #2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3; 
} 
h1{
    display:inline;
}
/* The name thing */
.intro_name 
{
    padding-top: 14%;
    font-size: 2.3vw;
    font-family: defaultfont;
    letter-spacing: -0.3vw;
}
/* The yashdeep */
.yashdeep{
    font-weight: bolder;
    color:red;
}
/* this is our container which comprises of the name and futher things  */
#intro,
#about,
#skills,
#project,
#contact
{
    height:100vh;
    width:80%;
    float:right;
}
/* social icons */
.social i
{
    color:white;
    font-size: 2vw;
    padding:1vw;
}
.social{
    align-content: center;
    text-align: center;
    width: 15vw;
    padding-top:1vw;
}

.social i:hover{
    color: #eb0350;
    
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3; 
}









/*
    Author::Yashvendra Deep Dwivedi
    github::@entschluselt
*/
