/*
    Author::Yashvendra Deep Dwivedi
    github::@entschluselt
*/
body{
    margin: 0;
    background: url(assets/images/bg.svg) no-repeat right center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
    
}
path#mountain{
    fill:#1f1c1c;
}
h1{
    display:inline;
}

html{
    scroll-behavior: smooth;
}
/* .navbar{
    text-align: center;
    align-items: center;
    align-content: center;
} */
/* Navigation Bar */
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15vw;
    height: 100vh;
    background-color: #181818;
    overflow:auto;
    position : fixed;
    font-family: poppin_med;
    text-align: center;
}
/* Logo */
.navbar img{
    background-color: black;
}
/* this in the navbar container */
.navbar li a{
    text-decoration: none;
    display:block;
    color: #fbc0b2;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #181818;
    font-size: 1.5vw;
    /* transition: 0s; */
    text-transform: uppercase;
    letter-spacing: 3px;
    overflow: hidden;
    
}
.navbar li a:hover{
    color: #1f1c1c;
    background-color: #ff7653;
    box-shadow: 0 0 10px #ff7653,0 0 40px #ff7653,0 0 80px #ff7653; 
} 
/* The name thing */
.intro_name 
{
    margin-top: 14vh;
    font-size: 2vw;
    font-family: roboto-mono;
    letter-spacing: -0.6vw;
    color:#ffe4de;
    font-weight: lighter;
    transition-duration: 2s;
    padding-right: 10vw;
}
.intro_name p{
    font-size: 1.7vw;
    letter-spacing: 0vw;
    font-family: roboto-mono;
    display: flex;
    display: inline;
    font-weight: 500;
    color: #f1b8aa;
}
.intro_name h1:not(.yashdeep):hover{
    animation-name: name;
    animation-duration: 0.6s;
    animation-iteration-count: infinite ;
    animation-timing-function: linear;
}
.intro_name > h1{
    margin: 0;
    padding: 0;
}
@keyframes name{
    from{
        opacity: 0;
    }
    to{
        opacity: 100;
    }
}
/* yashdeepPart */
.yashdeep{
    /* font-weight:bold; */
    color: #ec9078;
}
/* this is our container which comprises of the name and futher things  */
#intro,
#blog,
#skills,
#project,
#contact
{
    height:100vh;
    width:80%;
    float:right;
}

 /* h1,p {
    animation-name: intro;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
@keyframes intro{
    from{
        opacity: 0;
    }
    to{
        opacity: 100;
    }
} */
/* social icons */
.social i
{
    color:#fbc0b2;
    font-size: 2vw;
    padding:1vw;
    transition: 0s;
}
.social{
    align-content: center;
    text-align: center;
    padding-top:1vw;
}
.social i:hover{
    color: #fd6b46;
    box-shadow: 0 0 40px #d14f2e,0 0 80px #ff7653,0 0 100px #ff7653; 
}
#GREY{
    letter-spacing: 0.2vw;
    font-weight: 600;
    font-size: 1.6vw;
    color: #c38978;
}
.copy{
    color: rgb(70, 67, 67) ;
    position: absolute;
    bottom: 0;
    margin-left: 2.4vw ;
    padding: 0;
    font-family: roboto-mono;
    font-size: 0.9vw;
    text-align: center;
    font-weight: 700;
}
.copy a{
    text-decoration: none;
    color: rgb(82, 75, 75);
}
.copy a:hover{
    color: #fbc0b2;
}
/* #stars{
    animation-name: stars;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-timing-function: linear;
    animation-delay: both;
}
@keyframes stars{
    from{transform: translateX(-100px);}
    to{transform: translateX(100px);}
} */


/* Writing CSS for mobiles */
@media only screen and (max-width: 720px) {

    .intro_name p{
        font-size: 2vw;
    }
    #mnnit{
        font-size:2.2vw !important;
    }
    #grey{
        font-size: 10vw;
    }

}