/*
    Author::Yashvendra Deep Dwivedi
    github::@entschluselt
*/
body{
    margin: 0;
    background: url(assets/images/bg.svg) no-repeat right center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
    
}
path#mountain{
    fill:#1f1c1c;
}
h1{
    display:inline;
}

html{
    scroll-behavior: smooth;
}
/* Navigation Bar */
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15vw;
    height: 100vh;
    background-color: #181818;
    overflow:auto;
    position : fixed;
    font-family: poppin_med;
    text-align: center;
}
/* Logo */
.navbar img{
    background-color: black;
}
/* this in the navbar container */
.navbar li a{
    text-decoration: none;
    display:block;
    color: #fbc0b2;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #181818;
    font-size: 1.5vw;
    transition: 0.2s;
    text-transform: uppercase;
    letter-spacing: 3px;
    overflow: hidden;
    
}
.navbar li a:hover{
    color: #1f1c1c;
    background-color: #ff7653;
    box-shadow: 0 0 10px #ff7653,0 0 40px #ff7653,0 0 80px #ff7653; 
} 
/* The name thing */
.intro_name 
{
    margin-top: 10vh;
    font-size: 1.8vw;
    font-family: roboto-mono;
    letter-spacing: -0.4vw;
    color:#ffbaa9;
    font-weight: lighter;
    transition-duration: 2s;
    padding-right: 12vw;
}
.intro_name p{
    font-size: 1.6vw;
    letter-spacing: 0;
    font-family: roboto-mono;
    display: flex;
    display: inline;
    font-weight: 400;
    color: #ffd4c9;
}
.intro_name h1:not(.yashdeep):hover{
    animation-name: name;
    animation-duration: 0.6s;
    animation-iteration-count: infinite ;
    animation-timing-function: linear;
}
.intro_name > h1{
    margin: 0;
    padding: 0;
}
@keyframes name{
    from{
        opacity: 0;
    }
    to{
        opacity: 100;
    }
}
/* yashdeepPart */
.yashdeep{
    /* font-weight:bold; */
    color: #fb8b6e;
}
/* this is our container which comprises of the name and futher things  */
#intro,
#about,
#skills,
#project,
#contact
{
    height:100vh;
    width:80%;
    float:right;
}
#intro h1 p {
    animation-name: intro;
    animation-delay: 2s;
}
@keyframes intro{
    from{
        opacity: 0;
    }
    to{
        opacity: 100;
    }
}
/* social icons */
.social i
{
    color:#fbc0b2;
    font-size: 2vw;
    padding:1vw;
    transition: 0.2s;
}
.social{
    align-content: center;
    text-align: center;
    padding-top:1vw;
}
.social i:hover{
    color: #fd6b46;
    box-shadow: 0 0 40px #d14f2e,0 0 80px #ff7653,0 0 100px #ff7653; 
}
/* .copy{
    color: rgb(82, 75, 75) ;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
} */
/* #stars{
    animation-name: stars;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-timing-function: linear;
    animation-delay: both;
}
@keyframes stars{
    from{transform: translateX(-100px);}
    to{transform: translateX(100px);}
} */