body{
    margin: auto;
    background-color: rgb(128, 124, 118);
}
.stopwatch
{
    background-color: rgb(226, 114, 94);
    text-align: center;
    font-family: monospace;
    vertical-align:middle;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #db204f;
    padding: 10vw;
}
.timer{
    font-size: 5vw;
}
button:hover{
    color: red;
}